.wrapper {
    min-width: 18.75rem;
}

/* 300px */
@media screen and (min-width: 18.75rem) {}

/* 350px */
@media screen and (min-width: 21.875rem) {
    .hero-section>h1 {
        margin: 1.875rem 0rem;
    }

    .hero>div {
        justify-content: center;
    }

    .hero>div>a {
        margin-left: 3.125rem;
    }

    .why-me>div {
        width: calc(100% - 30px);
    }

    .why-me .txt-wrapper,
    .why-me .img-wrapper,
    .process .container .stage-title,
    .process .container .stage-info {
        padding-left: 1.875rem;
        padding-right: 1.875rem;
    }

    .portfolio>.content>.txt-wrapper,
    .testimony {
        padding-right: 1.875rem;
    }

    .services,
    .portfolio>.content,
    .testimony>.l-t-wrapper,
    .testimony>.r-t-wrapper {
        padding-left: 1.875rem;
    }

    .process>.title {
        width: 70%;
    }
}

/* 400px */
@media screen and (max-width: 25rem) {
    :root {
        --menu-content-width: 20rem;
    }
}

@media screen and (min-width: 25rem) {
    :root {
        --menu-content-width: 20rem;
    }

    footer,
    .r-n-c,
    .hero,
    .cta-rem>div {
        padding-left: 1.875rem;
        padding-right: 1.875rem;
    }

    .l-n-c {
        padding-left: 1.875rem;
    }

    .why-me .txt-wrapper>div {
        justify-content: flex-start;
    }

    .why-me .txt-wrapper>div>a:last-child {
        margin-left: 3.125rem;
    }

    .services>.content>div,
    .testimony>.l-t-wrapper,
    .testimony>.r-t-wrapper {
        padding-left: 1.875rem;
        padding-right: 1.875rem;
    }

    .services>.content>div:not(:last-child) {
        margin-right: 1.875rem;
    }

    .services>.content>div>span {
        margin: 1.875rem 0rem;
    }

    .services>.content>div>a {
        margin-top: 1.875rem;
    }

    .portfolio>.content>.txt-wrapper>div {
        justify-content: flex-start;
    }

    .portfolio>.content>.txt-wrapper>div>a:last-child {
        margin-left: 3.125rem;
    }

    .portfolio>.content>.img-wrapper img {
        margin-right: 1.875rem;
    }

    .process>.title {
        width: 60%;
    }

    .process .container .stage-info .txt-wrapper div {
        justify-content: flex-start;
    }

    .process .container .stage-info .txt-wrapper div>a:first-child {
        margin-right: 3.125rem;
    }

    footer .footer-policies>a:not(:first-child) {
        margin-left: 1.25rem;
    }
}

/* 450px */
@media screen and (min-width: 28.125rem) {
    .hero {
        height: 100vh;
        max-height: 30rem;
    }

    .hero>p {
        width: 24rem;
    }

    .portfolio>.title {
        display: flex;
        justify-content: flex-end;
    }

    .portfolio>.title>h3 {
        width: 50%;
        text-align: left;
        padding: 0.625rem 0rem;
        padding-left: 1.25rem;
    }

    .portfolio>.content>.img-wrapper img {
        width: calc(100% - 1.875rem);
    }

    .process>.title {
        width: 50%;
    }
}

/* 500px */
@media screen and (min-width: 31.25rem) {
    .portfolio>.title>h3 {
        padding-left: 1.875rem;
    }
}

/* 560px */
@media screen and (min-width: 35rem) {
    h1 {
        font-size: 3.25rem;
    }

    h2 {
        font-size: 2.65rem;
    }

    h3 {
        font-size: 2.05rem;
    }

    .hero {
        height: 100vh;
        max-height: 32rem;
    }
}

/* 660px */
@media screen and (min-width: 41.25rem) {
    h1 {
        font-size: 3.85rem;
    }

    .hero {
        padding-left: 3.125rem;
        padding-right: 3.125rem;
        height: 100vh;
        max-height: 35rem;
    }
}

/* 768px */
@media screen and (min-width: 48rem) {
    .hero {
        padding-left: 6.25rem;
        padding-right: 6.25rem;
        height: 100vh;
        max-height: 37.5rem;
    }

    .why-me>div {
        flex-direction: row;
        align-items: center;
        padding: 1.875rem 0rem;
    }

    .why-me .txt-wrapper,
    .why-me .img-wrapper {
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .why-me .txt-wrapper {
        padding: 0rem 1.875rem;
    }

    .why-me .img-wrapper {
        padding-right: 1.875rem;
    }

    .services {
        flex-direction: row;
        align-items: center;
    }

    .services>.title {
        width: 40%;
    }

    .services>.content {
        width: 60%;
        padding: 0;
        margin-left: 30px;
    }

    .portfolio>.content {
        flex-direction: row-reverse;
        align-items: center;
    }

    .portfolio>.content>div {
        width: 100%;
    }

    .portfolio>.content>.txt-wrapper {
        margin: 0;
        padding: 0;
    }

    .process .container .stage-info {
        flex-direction: row;
        align-items: center;
    }

    .process .container .stage-info>div {
        width: 50%;
    }

    .process .container .stage-info>div:last-child {
        margin-left: 1.25rem;
    }

    .process .container .stage-info .txt-wrapper {
        padding-top: 0rem;
    }

    .testimony {
        width: 100%;
        padding: 3.125rem 1.875rem;
        flex-direction: row;
        align-items: center;
    }

    .testimony>.l-t-wrapper {
        width: 70%;
        padding-top: 3.125rem;
        padding-bottom: 3.125rem;
        padding-left: 3.125rem;
    }

    .testimony>.r-t-wrapper {
        width: 30%;
        margin-top: 0;
        padding-right: 3.125rem;
    }

    .l-slider,
    .r-slider {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .l-slider {
        left: 1.25rem;
    }

    .r-slider {
        right: 1.25rem;
        margin-left: 0rem;
    }

    footer {
        flex-direction: row !important;
        align-items: center !important;
        justify-content: space-between !important;
    }

    footer .footer-policies {
        margin: 0;
    }
}

/* 850px */
@media screen and (min-width: 53.125rem) {
    .l-n-c {
        padding-right: 1.875rem;
    }

    .n-l-wrapper,
    .r-n-c .cta-btn {
        display: flex;
    }

    .why-me {
        padding-left: 1.875rem;
    }

    .why-me>div {
        align-self: auto;
        width: calc(100% - 50px);
    }

    .why-me .img-wrapper {
        padding-right: 0rem;
        margin-right: -1.875rem;
    }

    .portfolio>.content>.txt-wrapper {
        margin: 0;
    }

    .portfolio>.content>.img-wrapper {
        padding: 0rem 0rem;
        margin-left: 1.875rem;
    }
}

/* 900px */
@media screen and (min-width: 56.25rem) {
    .why-me>div {
        width: calc(100% - 100px);
    }

    .process .container .stage-info {
        background: var(--variant-accent-color-2);
        padding-top: 1.875rem;
    }

    .process .container .stage-info>div:last-child {
        margin-left: 1.875rem;
    }

    .process .container {
        flex-direction: row;
        align-items: center;
        padding: 0;
    }

    .process .container .stage-title {
        flex-direction: column;
        align-items: flex-start;
        width: 20%;
        margin-right: 1.25rem;
        padding: 0;
        padding-left: 1.875rem;
        background: transparent;
    }

    .process .container .stage-title .active-stage {
        width: max-content;
        height: max-content;
        background: transparent;
        border-left: 0.25rem solid var(--primary-txt-color);
        color: var(--primary-txt-color);
        padding: 1.25rem 1.875rem;
        font-size: 1.0rem;
    }

    .process .container .stage-title .inactive-stage {
        width: max-content;
        height: max-content;
        background: transparent;
        color: var(--secondary-txt-color);
        border-left: 0.25rem solid var(--secondary-txt-color);
        padding: 1.25rem 1.875rem;
        font-size: 1.0rem;
    }

    .process .container .stage-title p .txt {
        display: inline;
    }

    .process .container .stage-info {
        width: 80%;
        padding-top: 1.875rem;
        padding-bottom: 1.875rem;
    }

    .process .container .stage-info .img-wrapper {
        width: 45%;
        margin-left: -3.75rem;
    }

    .process .container .stage-info .txt-wrapper {
        width: 55%;
    }

    .testimony>.l-t-wrapper {
        width: 65%;
        padding-left: 5rem;
        padding-right: 3.125rem;
    }

    .testimony>.r-t-wrapper {
        width: 35%;
        padding-right: 5rem;
    }

    .l-slider {
        left: 1.875rem;
    }

    .r-slider {
        right: 1.875rem;
    }
}

/* 990px */
@media screen and (min-width: 61.875rem) {
    .r-n-c .btn-1 {
        display: flex;
    }

    .hero {
        padding-left: 7.5rem;
        padding-right: 7.5rem;
        height: 100vh;
        max-height: 40.625rem;
    }

    .why-me>div {
        width: calc(100% - 150px);
    }

    .portfolio>.content>.txt-wrapper {
        width: 40%;
    }

    .portfolio>.content>.img-wrapper {
        width: 60%;
    }

    .process .container .stage-info .img-wrapper {
        width: 55%;
        margin-left: -3.75rem;
    }

    .process .container .stage-info .txt-wrapper {
        width: 45%;
    }

    .testimony #sp-font {
        font-size: 6.5rem;
    }
}

/* 1200px */
@media screen and (min-width: 75rem) {

    footer,
    .r-n-c,
    .l-n-c {
        padding-left: 3.125rem;
        padding-right: 3.125rem;
    }

    .hero {
        padding-left: 9.375rem;
        padding-right: 9.375rem;
        height: 100vh;
        max-height: 42.5rem;
    }

    .why-me {
        padding: 3.125rem 0rem;
        padding-left: 3.125rem;
    }

    .why-me>div {
        width: calc(100% - 200px);
        padding: 3.125rem 0rem;
    }

    .why-me .txt-wrapper {
        padding: 0rem 3.125rem;
    }

    .why-me .img-wrapper {
        margin-right: -50px;
    }

    .services {
        padding: 3.125rem;
        padding-right: 0;
        margin-top: 3.125rem;
    }

    .services>.content>div {
        padding: 3.125rem 1.875rem;
    }

    .services .branding {
        margin-top: 6.25rem;
    }

    .services .web {
        margin-top: 3.125rem;
    }

    .portfolio {
        margin-top: 3.125rem;
        padding-bottom: 3.125rem;
    }

    .portfolio>.content {
        padding-left: 3.125rem;
    }

    .process .container .stage-title,
    .process .container .stage-info {
        padding-left: 3.125rem;
    }

    .process {
        padding-bottom: 3.125rem;
        padding-right: 3.125rem;
        margin-top: 3.125rem;
    }

    .process .container .stage-title {
        width: 25%;
        padding-left: 6.25rem;
    }

    .process .container .stage-info {
        padding-top: 3.125rem;
        padding-bottom: 3.125rem;
        width: 75%;
    }

    .process .container .stage-info>div:last-child {
        margin-left: 3.125rem;
    }

    .process .container .stage-info .img-wrapper {
        margin-left: -6.25rem;
    }

    .testimony {
        padding: 6.25rem 3.125rem;
        margin-top: 3.125rem;
    }

    .testimony>.l-t-wrapper {
        padding: 3.125rem 6.25rem;
    }

    .testimony>.r-t-wrapper {
        padding: 0rem 3.125rem;
    }

    .testimony #sp-font {
        font-size: 8rem;
    }

    .l-slider {
        left: 3.125rem;
    }

    .r-slider {
        right: 3.125rem;
    }

    .cta-rem {
        margin-top: 3.125rem;
    }

    .cta-rem>div {
        padding: 4.6875rem 3.125rem;
    }
}

/* 1500px */
@media screen and (min-width: 93.75rem) {
    main {
        max-width: 93.75rem;
        margin: auto;
    }
}