.hero {
    background: var(--accent-color);
    padding: 6.25rem 1.25rem;
    width: 100%;
    max-width: max-content;
    color: var(--primary-txt-color);
}

.hero>h1 {
    margin: 1.25rem 0rem;
    text-align: center;
}

.hero>div {
    width: 100%;
    margin-top: 1.875rem;
    justify-content: space-between;
}

.why-me {
    width: 100%;
    position: relative;
    padding: 1.875rem 0rem;
}

.why-me::before {
    content: "";
    position: absolute;
    width: 85%;
    height: 100%;
    right: 0;
    top: 0;
    background: var(--variant-color);
    z-index: -1;
}

.why-me>div {
    align-self: flex-end;
    background: var(--accent-color);
    width: calc(100% - 20px);
    padding: 1.875rem 0rem;
}

.why-me .txt-wrapper {
    padding: 0rem 1.25rem;
    color: var(--primary-txt-color);
}

.why-me .txt-wrapper>span {
    position: relative;
    margin-left: 40px;
}

.why-me .txt-wrapper>span::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background: var(--primary-txt-color);
    left: -40px;
    top: 50%;
    transform: translateY(-50%);
}

.why-me .txt-wrapper>h3 {
    margin: 1.875rem 0rem;
}

.why-me .txt-wrapper>div {
    margin-top: 1.875rem;
}

.why-me .img-wrapper {
    margin-top: 1.875rem;
    padding: 0rem 1.25rem;
}

.services {
    width: 100%;
    position: relative;
    padding: 1.875rem 1.25rem;
    padding-right: 0;
    margin-top: 1.875rem;
}

.services::before {
    content: "";
    position: absolute;
    width: 50%;
    background: var(--variant-color);
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}

.services>.title {
    color: var(--primary-txt-color);
}

.services>.title>p {
    margin: 1.25rem 0rem;
}

.services>.title .slider span {
    width: 15px;
    height: 15px;
    border: 0.0625rem solid transparent;
    position: relative;
    cursor: pointer;
}

.services>.title .slider span:not(:first-child) {
    margin-left: 8px;
}

.services>.title .slider .active {
    border-color: var(--primary-txt-color);
}

.services>.title .slider span i {
    width: 7px;
    height: 7px;
    background: var(--primary-txt-color);
}

.services>.content {
    padding-top: 1.875rem;
    overflow-x: hidden;
    height: max-content;
}

.services>.content>div {
    background: var(--accent-color);
    color: var(--primary-txt-color);
    padding: 1.875rem 1.25rem;
    min-width: 280px;
    max-width: 300px;
    height: max-content;
}

.services>.content>div {
    margin-right: 1.25rem;
}

.services>.content>div>span {
    margin: 1.25rem 0rem;
    font-size: 1.2rem;
}

.services>.content>div>a {
    margin-top: 20px;
    color: var(--primary-txt-color);
    text-decoration: underline;
}

.services>.content>div>a>svg {
    margin-right: 10px;
}

.portfolio {
    width: 100%;
    margin-top: 1.875rem;
    padding-bottom: 1.875rem;
    position: relative;
}

.portfolio::before {
    content: "";
    position: absolute;
    width: 50%;
    background: var(--variant-color);
    height: 100%;
    right: 0;
    top: 0;
    z-index: -1;
}

.portfolio>.title {
    width: 100%;
}

.portfolio>.title>h3 {
    text-align: right;
    padding: 0.625rem 0rem;
    padding-right: 1.25rem;
    color: var(--primary-txt-color);
}

.portfolio>.content {
    width: 100%;
    padding-left: 1.25rem;
}

.portfolio>.content>.img-wrapper {
    width: 100%;
    overflow: hidden;
    height: max-content;
}

.portfolio>.content>.img-wrapper img {
    margin-right: 1.25rem;
    width: calc(100% - 1.25rem);
    max-width: 450px;
}

.portfolio>.content>.txt-wrapper {
    margin-top: 1.875rem;
    width: 100%;
    padding-right: 1.25rem;
    color: var(--primary-txt-color);
}

.portfolio>.content>.txt-wrapper>h3 {
    margin: 1.25rem 0rem;
}

.portfolio>.content>.txt-wrapper>div {
    margin-top: 1.25rem;
}

.process {
    width: 100%;
    margin-top: 1.875rem;
    padding-bottom: 1.875rem;
    position: relative;
}

.process::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background: var(--variant-color);
    width: 50%;
    height: 100%;
    z-index: -1;
}

.process>.title {
    width: 70%;
    color: var(--primary-txt-color);
    text-align: right;
    padding: 0.625rem 0rem;
    padding-right: 0.625rem;
}

.process .container .stage-title {
    justify-content: space-around;
    padding: 1.25rem 1.25rem;
    background: var(--body-color);
}

.process .container .stage-title .active-stage {
    width: 36px;
    height: 36px;
    background: var(--accent-color);
    color: var(--primary-txt-color);
    font-size: 1.0rem;
}

.process .container .stage-title .inactive-stage {
    width: 24px;
    height: 24px;
    background: var(--variant-color);
    color: var(--variant-color-black-555);
    font-size: 0.875rem;
}

.process .container .stage-title p .txt {
    display: none;
}

.process .container .stage-info {
    color: var(--primary-txt-color);
    padding: 1.875rem 1.25rem;
    padding-bottom: 0rem;
}

.process .container .stage-info .txt-wrapper {
    padding-top: 1.25rem;
}

.process .container .stage-info .txt-wrapper>h3 {
    margin: 1.25rem 0rem;
}

.process .container .stage-info .txt-wrapper>div {
    width: 100%;
    margin-top: 1.25rem;
}

.process .container .stage-info .txt-wrapper>div>.slider>span {
    width: 15px;
    height: 15px;
    border: 0.0625rem solid transparent;
    position: relative;
    cursor: pointer;
}

.process .container .stage-info .txt-wrapper>div>.slider span:not(:first-child) {
    margin-left: 8px;
}

.process .container .stage-info .txt-wrapper>div>.slider .active {
    border-color: var(--primary-txt-color);
}

.process .container .stage-info .txt-wrapper>div>.slider span i {
    width: 7px;
    height: 7px;
    background: var(--primary-txt-color);
}

.testimony {
    width: 100%;
    position: relative;
    margin-top: 1.875rem;
    padding-bottom: 1.875rem;
    padding-right: 1.25rem;
}

.testimony::before {
    content: "";
    position: absolute;
    width: 50%;
    background: var(--variant-color);
    height: 100%;
    right: 0;
    top: 0;
    z-index: -1;
}

.testimony>.l-t-wrapper {
    padding: 0rem 1.25rem;
    background: var(--body-color);
    width: 100%;
}

.testimony>.l-t-wrapper>p {
    margin: 1.875rem 0rem;
    color: var(--primary-txt-color);
}

.testimony>.l-t-wrapper>span {
    color: var(--light-txt-color);
}

.testimony>.r-t-wrapper {
    margin-top: 1.875rem;
    width: 100%;
    padding: 0rem 1.25rem;
}

.testimony #sp-font {
    line-height: 1;
    font-size: 5rem;
    color: var(--primary-btn-color);
    font-style: normal;
}

.testimony>.r-t-wrapper>p {
    color: var(--primary-txt-color);
    margin: 1.25rem 0rem;
}

.testimony>.r-t-wrapper>a {
    color: var(--primary-txt-color);
    text-decoration: underline;
}

.testimony>.r-t-wrapper>a>svg {
    margin-right: 0.625rem;
}

.testimony>.slider {
    align-self: flex-end;
    margin-top: 1.25rem;
}

.l-slider,
.r-slider {
    background: var(--primary-txt-color);
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.r-slider {
    margin-left: 1.875rem;
}

.cta-rem {
    width: 100%;
    height: max-content;
    background-color: var(--variant-color);
    background-image: url(../css-img/cta-rem-bg.png);
    background-size: contain;
    background-repeat: repeat;
    margin-top: 1.875rem;
    position: relative;
}

.cta-rem>div {
    position: relative;
    max-width: 37.5rem;
    padding: 3.125rem 1.25rem;
    background: var(--variant-color);
    color: var(--primary-txt-color);
}

.cta-rem h3 {
    text-align: center;
    margin: 1.875rem 0rem;
    max-width: 21.875rem;
}